<?xml version='1.0' encoding='utf-8'?>
<widget id="org.keycloak.jstest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Keycloak JS Test</name>
    <description>Test application for Keycloak JS Cordova-native adapter integration.</description>
    <hook type="before_prepare" src="scripts/ensure-cjs-platforms.cjs" />
    <hook type="after_prepare" src="scripts/fix-androidx.cjs" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="scheme" value="http" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="android-compileSdkVersion" value="35" />
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:usesCleartextTraffic="true" />
    </edit-config>
    <universal-links>
        <host name="callback" scheme="keycloakjstest" event="keycloak" />
    </universal-links>
</widget>
